# Compiled binaries
*.dll
*.exe
*.pdb

# Database
*.mdf
*.ldf
*.bak

# OS files
.DS_Store
**/.DS_Store
Thumbs.db

# Documents
*.pdf
*.docx

# Backups
_db_backups/
Downloads/
node_modules/
.env
*.env.local

# Build artifacts
bin/
obj/
_notes/
